.bg-active{
    background-color: transparent !important;
    transition: 0.3s;
    color: #002fff !important;
}

.navbar{
    width: 100%;
    transition: 300ms;
}

.link-navbar{
    color: #0f12e6;
    transition: 0.3s;
    text-decoration: none;
}

.link-navbar:hover{
    color: #003cff;
}